<!DOCTYPE html>
<html>
  <head>
    <title>Posts | Mini Message Board</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&family=Rubik:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="messages">
      <h2>Latest Posts</h2>
      <% for (const message of messages) { %>
      <div class="message">
        <h2 class="title"><%= message.title %></h2>
        <div class="user-container">
          <p class="user"><%= message.author %></p>
          <p class="date"><%= formatDate(message.createdAt) %></p>
        </div>
        <p class="text"><%= message.message %></p>
      </div>
      <% } %>
    </div>
  </body>
</html>
